.toolbar{
    background-color: dodgerblue;
    margin-bottom: 0
  }
  
  .button{
    color: white;
  }
  
  .nombre{
    color:white;
    font-size: 1rem;
    margin: auto;
    text-align: center;
  
    
  }
  
  .titulo{
    color:white;
    font-size: 2rem;
    text-align: left;
    
  }