<div class="border-end bg-blue sidebar" id="sidebar-wrapper">
       <div class="list-group list-group-flush sidebar">
        <a class="list-group-item list-group-item-action list-group-item-action p-3 nav-link sidebar"
          [routerLink]="['/promise']"  >Muestra Promise</a>
    </div>
    <div class="list-group list-group-flush sidebar">
      <a class="list-group-item list-group-item-action list-group-item-action p-3 nav-link sidebar"
        [routerLink]="['/observable']"  >Muestra observable</a>
  </div>
  <div class="list-group list-group-flush sidebar">
    <a class="list-group-item list-group-item-action list-group-item-action p-3 nav-link sidebar"
      [routerLink]="['/filter/map']"  >Muestra Filter y Map</a>
</div>
</div>