.titulo{
    text-align: center;
    margin-top: 20px;
    color:cornflowerblue;
    
  }

  body{
 
 
    background-size: cover;
    min-height: 100vh;
    max-width: 1420px;
  }
  .columna{
      text-align: center;
  }
  .botones{
      margin-top:75px;
  }